#onlyoffice-filecreate img{
     position: absolute;
     margin-top: 3px;
}

#inline-dialog-filecreate .aui-inline-dialog-contents{
    width: auto!important;
    padding: 0;
    display: inline-block;
}

#arrow-filecreate{
    display: none;
}

#inline-dialog-filecreate ul{
    margin-left: 0;
    padding-left: 0;
}

#inline-dialog-filecreate li{
    list-style-type: none;
}

#inline-dialog-filecreate a{
    display: block;
    height: 25px;
    padding: 7px 8px;
    text-decoration: none;
    color: #172B4D;
}

#inline-dialog-filecreate a:hover{
    background: #EBECF0;
}

#inline-dialog-filecreate .active{
    background: #EBECF0;
}

#inline-dialog-filecreate .icon{
    display: inline-block;
}

#inline-dialog-filecreate .icon-onlyoffice-new-docx{
    background-image: url(images/new-docx.svg);
}

#inline-dialog-filecreate .icon-onlyoffice-new-xlsx{
    background-image: url(images/new-xlsx.svg);
}

#inline-dialog-filecreate .icon-onlyoffice-new-pptx{
    background-image: url(images/new-pptx.svg);
}

#inline-dialog-filecreate .displayname{
    padding-left: 8px;
    margin-top: 3px;
    display: inline-block;
}

#inline-dialog-filecreate .hidden{
    display: none;
}

#inline-dialog-filecreate form{
    display: inline-block;
    height: 25px;
}

#inline-dialog-filecreate .filenameform .input-name{
    display: inline-block;
    border: 1px solid #C1C7D0;
    box-sizing: border-box;
    border-radius: 3px;
    height: 100%;
    margin-left: 5px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
}

#inline-dialog-filecreate .icon-confirm{
    width: 28px;
    height: 100%;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    margin-left: 4px;
    background: url(images/confirm.svg) center no-repeat;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
}

#inline-dialog-filecreate .icon-confirm:hover{
    background-color: #FFFFFF;
    border-radius: 3px;
}
