#onlyoffice-doccreate img{
     position: absolute;
     margin-top: 3px;
}

#inline-dialog-doccreate .aui-inline-dialog-contents{
    width: auto;
    padding: 0;
}

#inline-dialog-doccreate ul{
    margin-left: 0;
    padding-left: 0;
}

#inline-dialog-doccreate li{
    list-style-type: none;
}

#inline-dialog-doccreate a{
    display: block;
    height: 25px;
    padding: 7px 8px;
    text-decoration: none;
    color: #172B4D;
}

#inline-dialog-doccreate a:hover{
    background: #EBECF0;
}

#inline-dialog-doccreate .active{
    background: #EBECF0;
}

#inline-dialog-doccreate .icon{
    position: absolute;
    margin-top: 5px;
}

#inline-dialog-doccreate .icon-onlyoffice-new-docx{
    background-image: url(images/new-docx.svg);
}

#inline-dialog-doccreate .icon-onlyoffice-new-xlsx{
    background-image: url(images/new-xlsx.svg);
}

#inline-dialog-doccreate .icon-onlyoffice-new-pptx{
    background-image: url(images/new-pptx.svg);
}

#inline-dialog-doccreate .displayname{
    position: absolute;
    padding-left: 22px;
    margin-top: 2px;
}

#inline-dialog-doccreate .hidden{
    display: none;
}

#inline-dialog-doccreate form{
    height: 25px;
    display: flex;
    padding-left: 20px;
}

#inline-dialog-doccreate .filenameform .input-name{
    width: 100%;
    border: 1px solid #C1C7D0;
    box-sizing: border-box;
    border-radius: 3px;
}

#inline-dialog-doccreate .icon-confirm{
    width: 28px;
    border: none;
    cursor: pointer;
    margin-left: 4px;
    background: url(images/confirm.svg) center no-repeat;
}

#inline-dialog-doccreate .icon-confirm:hover{
    background-color: #FFFFFF;
    border-radius: 3px;
}
