{namespace FileViewer.Templates}

/**
* Onlyoffice button for opening editor.
* @param attachmentId The id attachment.
*/
{template .controlOnlyofficeButton}
    <a role="button" tabindex=58" aria-haspopup="true" id="cp-control-panel-onlyoffice" href="/plugins/servlet/onlyoffice/doceditor?attachmentId={$attachmentId}" title="Edit with ONLYOFFICE" class="cp-icon cp-onlyoffice-icon"></a>
{/template}
