$webResourceManager.requireResource("onlyoffice.onlyoffice-confluence-plugin:onlyoffice-confluence-plugin-resources-configure")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>

        <!--
        *
        * (c) Copyright Ascensio System SIA 2023
        *
        * Licensed under the Apache License, Version 2.0 (the "License");
        * you may not use this file except in compliance with the License.
        * You may obtain a copy of the License at
        *
        *     http://www.apache.org/licenses/LICENSE-2.0
        *
        * Unless required by applicable law or agreed to in writing, software
        * distributed under the License is distributed on an "AS IS" BASIS,
        * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
        * See the License for the specific language governing permissions and
        * limitations under the License.
        *
        -->

        <title>ONLYOFFICE</title>
        <meta name="decorator" content="atl.admin" />
    </head>
    <body>
        <div id="onlyofficeMsg"></div>
        <div id="pathApiUrl" hidden>${pathApiUrl}</div>
        <form id="onlyofficeConf" class="aui long-label">
            <h3>$i18n.getText('onlyoffice.configuration.section.server')</h3>
            <div class="field-group">
                <label for="apiUrlField">$i18n.getText('onlyoffice.configuration.doc-url')</label>
                <input type="text" id="apiUrlField" value="$!{settings.get('url')}" name="apiUrlField" class="text onlyoffice-tooltip" title="$i18n.getText('onlyoffice.configuration.doc-url.tooltip')">
                <div class="checkbox">
                    <input type="checkbox" class="checkbox" id="verifyCertificate" #if($!settings.get('security.ignoreSSLCertificate') == "true") checked="checked" #end />
                    <label for="verifyCertificate">$i18n.getText('onlyoffice.configuration.verify-certificate')</label>
                </div>
            </div>
            <div class="field-group">
                <label for="jwtSecretField">$i18n.getText('onlyoffice.configuration.jwt-secret')</label>
                <div class="secretFiled">
                    <a href="#" class="view-control"></a>
                    <input type="password" id="jwtSecretField" value="$!{settings.get('security.key')}" name="jwtSecretField" class="text onlyoffice-tooltip" title="$i18n.getText('onlyoffice.configuration.jwt-secret.tooltip')" style="padding-right: 30px;">
                </div>
            </div>
            <div class="field-group">
                <div class="checkbox">
                    <input type="checkbox" class="checkbox" id="onlyofficeDemo" #if($!settings.get('demo') == "true") checked="checked" #end
                                                                                #if(!$demoAvailable) disabled="disabled" #end/>
                    <label for="onlyofficeDemo">$i18n.getText('onlyoffice.configuration.demo.connect')</label>

                    <br/>
                    #if($demoAvailable)
                        <div class="description">$i18n.getText('onlyoffice.configuration.demo.trial')</div>
                    #else
                        <div class="description">$i18n.getText('onlyoffice.configuration.demo.trial-is-over')</div>
                    #end
                </div>
            </div>

            <h3>$i18n.getText('onlyoffice.configuration.advanced-section')</h3>
            <div class="field-group">
                <label for="confUrlField">$i18n.getText('onlyoffice.configuration.conf-url')</label>
                <input type="text" id="confUrlField" value="$!{settings.get('productInnerUrl')}" name="confUrlField" class="text onlyoffice-tooltip" title="$i18n.getText('onlyoffice.configuration.conf-url.tooltip')">
            </div>
            <div class="field-group">
                <label for="docInnerUrlField">$i18n.getText('onlyoffice.configuration.doc-url-inner')</label>
                <input type="text" id="docInnerUrlField" value="$!{settings.get('innerUrl')}" name="docInnerUrlField" class="text onlyoffice-tooltip" title="$i18n.getText('onlyoffice.configuration.doc-url-inner.tooltip')">
            </div>

            <h3>$i18n.getText('onlyoffice.configuration.section.common')</h3>

            <div class="field-group">
                <label>$i18n.getText('onlyoffice.configuration.editing-types.label')</label>
                #foreach($type in $defaultCustomizableEditingTypes.keySet())
                    <div class="checkbox inline">
                        <input type="checkbox" class="checkbox editing-types" id="${type}" #if($defaultCustomizableEditingTypes.get($type)) checked="checked" #end />
                        <label for="${type}">${type}</label>
                    </div>
                #end
                <div class="description">$i18n.getText('onlyoffice.configuration.editing-types.description')</div>
            </div>

            <div class="field-group">
                <label>$i18n.getText('onlyoffice.configuration.force-save.label')</label>
                <div class="checkbox">
                    <input type="checkbox" class="checkbox" id="forceSave" #if($!settings.get('customization.forcesave') == "true") checked="checked" #end />
                    <label for="forceSave">$i18n.getText('onlyoffice.configuration.force-save.enable')</label>
                </div>
                <div class="description">$i18n.getText('onlyoffice.configuration.force-save.description')</div>
            </div>

            <div class="field-group">
                <label>$i18n.getText('onlyoffice.configuration.interface.label')</label>
                <div class="checkbox">
                    <input type="checkbox" class="checkbox" id="chat" #if($!settings.get('customization.chat') == "true") checked="checked" #end />
                    <label for="chat">$i18n.getText('onlyoffice.configuration.interface.chat')</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" class="checkbox" id="compactHeader" #if($!settings.get('customization.compactHeader') == "true") checked="checked" #end />
                    <label for="compactHeader">$i18n.getText('onlyoffice.configuration.interface.compactHeader')</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" class="checkbox" id="feedback" #if($!settings.get('customization.feedback') == "true") checked="checked" #end />
                    <label for="feedback">$i18n.getText('onlyoffice.configuration.interface.feedback')</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" class="checkbox" id="helpMenu" #if($!settings.get('customization.help') == "true") checked="checked" #end />
                    <label for="helpMenu">$i18n.getText('onlyoffice.configuration.interface.helpMenu')</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" class="checkbox" id="toolbarNoTabs" #if($!settings.get('customization.toolbarNoTabs') == "true") checked="checked" #end />
                    <label for="toolbarNoTabs">$i18n.getText('onlyoffice.configuration.interface.toolbarNoTabs')</label>
                </div>
                <div class="description">$i18n.getText('onlyoffice.configuration.interface.description')</div>
            </div>

            <div class="field-group">
                <label>$i18n.getText('onlyoffice.configuration.reviewDisplay.label')</label>
                <div class="radio inline">
                    <input type="radio" class="radio" name="reviewDisplay" id="reviewDisplay_markup" #if($!settings.get('customization.review.reviewDisplay') == "MARKUP") checked="checked" #end />
                    <label for="reviewDisplay_markup">$i18n.getText('onlyoffice.configuration.reviewDisplay.markup')</label>
                </div>
                <div class="radio inline">
                    <input type="radio" class="radio" name="reviewDisplay" id="reviewDisplay_final" #if($!settings.get('customization.review.reviewDisplay') == "FINAL") checked="checked" #end />
                    <label for="reviewDisplay_final">$i18n.getText('onlyoffice.configuration.reviewDisplay.final')</label>
                </div>
                <div class="radio inline">
                    <input type="radio" class="radio" name="reviewDisplay" id="reviewDisplay_original" #if($!settings.get('customization.review.reviewDisplay') == "ORIGINAL") checked="checked" #end />
                    <label for="reviewDisplay_original">$i18n.getText('onlyoffice.configuration.reviewDisplay.original')</label>
                </div>
                <div class="description">$i18n.getText('onlyoffice.configuration.reviewDisplay.description')</div>
            </div>

            <div class="field-group">
                <input id="onlyofficeSubmitBtn" type="submit" value="$i18n.getText('onlyoffice.configuration.button.save')" class="aui-button">
            </div>
        </form>

        <div class="onlyoffice-docs-cloud-banner-main" >
            <div class="onlyoffice-docs-cloud-banner-section">
                <p class="onlyoffice-docs-cloud-banner-image"></p>
            </div>
            <div class="onlyoffice-docs-cloud-banner-section">
                <h3>ONLYOFFICE Docs Cloud</h3>
                 <p>$i18n.getText('onlyoffice.configuration.banner.message')</p>
            </div>
            <div class="onlyoffice-docs-cloud-banner-section">
                <a class="aui-button aui-button-primary default-submit" href="https://www.onlyoffice.com/docs-registration.aspx?referer=confluence" target="_blank">$i18n.getText('onlyoffice.configuration.banner.button')</a>
            </div>
        </div>

        <div id="onlyoffice-loader" aria-hidden="true" class="aui-blanket" tabindex="0" style="z-index: 2980; display: none;">
            <aui-spinner size="large" style="top:50%; left: 50%"></aui-spinner>
        </div>
    </body>
</html>
