$webResourceManager.requireResource("onlyoffice.onlyoffice-confluence-plugin:onlyoffice-confluence-plugin-resources")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>

        <!--
        *
        * (c) Copyright Ascensio System SIA 2021
        *
        * Licensed under the Apache License, Version 2.0 (the "License");
        * you may not use this file except in compliance with the License.
        * You may obtain a copy of the License at
        *
        *     http://www.apache.org/licenses/LICENSE-2.0
        *
        * Unless required by applicable law or agreed to in writing, software
        * distributed under the License is distributed on an "AS IS" BASIS,
        * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
        * See the License for the specific language governing permissions and
        * limitations under the License.
        *
        -->

        <title>ONLYOFFICE</title>
        <meta name="decorator" content="atl.admin" />
    </head>
    <body>
        <script type="text/javascript" language="javascript">
            (function (jq) {
                var url = AJS.contextPath() + "/plugins/servlet/onlyoffice/configure";

                jq(document).ready(function() {
                    var msgBox = jq("#onlyofficeMsg");
                    var submitBtn = jq("#onlyofficeSubmitBtn");
                    var lastMsg;

                    var messages = {
                        success: "$i18n.getText('onlyoffice.configuration.success')",
                        mixedcontent: "$i18n.getText('onlyoffice.configuration.mixedcontent')",
                        jsonparse: "$i18n.getText('onlyoffice.configuration.jsonparse')",
                        docservunreachable: "$i18n.getText('onlyoffice.configuration.docservunreachable')",
                        docservcommand: "$i18n.getText('onlyoffice.configuration.docservcommand')",
                        jwterror: "$i18n.getText('onlyoffice.configuration.jwterror')"
                    };

                    function updateConfig() {
                        var data = {
                            "apiUrl": jq("#apiUrlField").attr("value"),
                            "docInnerUrl": jq("#docInnerUrlField").attr("value"),
                            "confUrl": jq("#confUrlField").attr("value"),
                            "jwtSecret": jq("#jwtSecretField").attr("value"),
                            "forceSave": jq("#forceSave").is(":checked"),
                            "demo": jq("#onlyofficeDemo").is(":checked")
                        };

                        jq.ajax({
                            url: url,
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(data),
                            processData: false,
                            success: function (response) { onResponse(response, data); },
                            error: function (response) { onResponse(response, data); }
                        });
                    };

                    function onResponse(response, data) {
                        submitBtn.attr("disabled", false);
                        if (response) {
                            var json = JSON.parse(response);
                            var msg;
                            var error = true;

                            if (json.success) {
                                if (window.location.protocol == "https:" && data.apiUrl.startsWith("http:")) {
                                    msg = "mixedcontent"
                                } else {
                                    msg = "success";
                                    error = false;
                                }
                            } else {
                                msg = json.message;
                            }

                            if (lastMsg) lastMsg.remove();
                            if (error) {
                                lastMsg = AJS.messages.error(msgBox, { body: messages[msg] });
                            } else {
                                lastMsg = AJS.messages.success(msgBox, { body: messages[msg] });
                            }
                        }
                    };

                    var testDocServiceApi = function () {
                        var testApiResult = function () {
                            var result = typeof DocsAPI != "undefined";

                            if (result) {
                                updateConfig();
                            } else {
                                submitBtn.attr("disabled", false);
                                if (lastMsg) lastMsg.remove();
                                lastMsg = AJS.messages.error(msgBox, { body: messages["docservunreachable"] });
                            }
                        };

                        delete DocsAPI;

                        jq("#scripDocServiceAddress").remove();

                        var js = document.createElement("script");
                        js.setAttribute("type", "text/javascript");
                        js.setAttribute("id", "scripDocServiceAddress");
                        document.getElementsByTagName("head")[0].appendChild(js);

                        var scriptAddress = jq("#scripDocServiceAddress");

                        scriptAddress.on("load", testApiResult).on("error", testApiResult);

                        var docServiceUrlApi = jq("#apiUrlField").val();

                        if (!docServiceUrlApi.endsWith("/")) {
                            docServiceUrlApi += "/";
                        }
                        docServiceUrlApi += "${pathApiUrl}";

                        scriptAddress.attr("src", docServiceUrlApi);
                    };

                    jq("#onlyofficeConf").submit(function(e) {
                        submitBtn.attr("disabled", true);
                        e.preventDefault();
                        if (jq("#onlyofficeDemo").is(":checked")) {
                            updateConfig();
                        } else {
                            testDocServiceApi();
                        }
                    });

                    jq("#onlyofficeConf").on("click", ".view-control", function(){
                        if (jq("#jwtSecretField").attr("type") == "password"){
                            jq(this).addClass("view");
                            jq("#jwtSecretField").attr("type", "text");
                        } else {
                            jq(this).removeClass("view");
                            jq("#jwtSecretField").attr("type", "password");
                        }
                        return false;
                    });

                    var demoToggle = function () {
                        if (!jq("#onlyofficeDemo").prop("disabled")) {
                            jq("#apiUrlField, #jwtSecretField, #docInnerUrlField").prop("disabled", jq("#onlyofficeDemo").prop("checked"));
                            if (jq("#onlyofficeDemo").prop("checked")) {
                                jq(".view-control").css("pointer-events", "none");
                                jq(".view-control").removeClass("view");
                                jq("#jwtSecretField").attr("type", "password");
                            }else{
                                jq(".view-control").css("pointer-events", "");
                            }
                        }
                    };

                    jq("#onlyofficeDemo").click(demoToggle);
                    demoToggle();

                    AJS.$(".onlyoffice-tooltip").tooltip();
                });

            })(jQuery);
        </script>
        <div id="onlyofficeMsg"></div>
        <form id="onlyofficeConf" class="aui top-label">
            <h3>$i18n.getText('onlyoffice.configuration.doc-section')</h3>
            <div class="field-group">
                <label for="apiUrlField">$i18n.getText('onlyoffice.configuration.doc-url')</label>
                <input type="text" id="apiUrlField" value="${docserviceApiUrl}" name="apiUrlField" class="text onlyoffice-tooltip" title="$i18n.getText('onlyoffice.configuration.doc-url-tooltip')">
            </div>
            <div class="field-group">
                <label for="jwtSecretField">$i18n.getText('onlyoffice.configuration.jwt-secret')</label>
                <div class="secretFiled">
                    <a href="#" class="view-control"></a>
                    <input type="password" id="jwtSecretField" value="${docserviceJwtSecret}" name="jwtSecretField" class="text" style="padding-right: 30px;">
                </div>
            </div>

            <h3>$i18n.getText('onlyoffice.configuration.advanced-section')</h3>
            <div class="field-group">
                <label for="confUrlField">$i18n.getText('onlyoffice.configuration.conf-url')</label>
                <input type="text" id="confUrlField" value="${docserviceConfUrl}" name="confUrlField" class="text">
            </div>
            <div class="field-group">
                <label for="docInnerUrlField">$i18n.getText('onlyoffice.configuration.doc-url-inner')</label>
                <input type="text" id="docInnerUrlField" value="${docserviceInnerUrl}" name="docInnerUrlField" class="text onlyoffice-tooltip" title="$i18n.getText('onlyoffice.configuration.doc-url-inner-tooltip')">
            </div>
            <div class="field-group">
                <div class="checkbox">
                    <input type="checkbox" class="checkbox" id="forceSave" #if($forceSave) checked="checked" #end />
                    <label for="forceSave">$i18n.getText('onlyoffice.configuration.force-save')</label>
                    <div class="description">$i18n.getText('onlyoffice.configuration.force-save.description')</div>
                </div>
            </div>
            <div class="field-group">
                <div class="checkbox">
                    <input type="checkbox" class="checkbox" id="onlyofficeDemo" #if($docserviceDemo) checked="checked" #end
                                                                                #if(!$docserviceDemoAvailable) disabled="disabled" #end/>
                    <label for="onlyofficeDemo">$i18n.getText('onlyoffice.configuration.demo.connect')</label>

                    <br/>
                    #if($docserviceDemoAvailable)
                        <div class="description">$i18n.getText('onlyoffice.configuration.demo.trial')</div>
                    #else
                        <div class="description">$i18n.getText('onlyoffice.configuration.demo.trial-is-over')</div>
                    #end
                </div>
            </div>

            <div class="field-group">
                <input id="onlyofficeSubmitBtn" type="submit" value="$i18n.getText('onlyoffice.configuration.save')" class="button">
            </div>
        </form>
    </body>
</html>
