$webResourceManager.requireResource("onlyoffice.onlyoffice-confluence-plugin:onlyoffice-confluence-plugin-resources-editor")
#requireResourcesForContext("viewattachments")

<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ANSI" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />

    <!--
    *
    * (c) Copyright Ascensio System SIA 2021
    *
    * Licensed under the Apache License, Version 2.0 (the "License");
    * you may not use this file except in compliance with the License.
    * You may obtain a copy of the License at
    *
    *     http://www.apache.org/licenses/LICENSE-2.0
    *
    * Unless required by applicable law or agreed to in writing, software
    * distributed under the License is distributed on an "AS IS" BASIS,
    * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    * See the License for the specific language governing permissions and
    * limitations under the License.
    *
    -->

    <title>${docTitle} - ONLYOFFICE</title>

    #standardHeader()

    <link rel="shortcut icon" href="${favicon}">
    <link rel="icon" type="image/x-icon" href="${favicon}">
    <meta name="ajs-space-name" content="${spaceName}">
    <meta name="ajs-page-id" content="${pageId}">
    <meta name="ajs-latest-page-id" content="${pageId}">
    <meta name="ajs-space-key" content="${spaceKey}">
    <meta name="ajs-parent-page-id" content="${pageId}">
    <meta name="ajs-original-parent-page" content="${pageTitle}">
    <meta name="ajs-from-page-title" content="${pageTitle}">
</head>

<body>
    <div class="form">
        <div id="iframeEditor"></div>
    </div>

    <script type="text/javascript" src="${docserviceApiUrl}"></script>
    <script type="text/javascript" language="javascript">

        var docEditor;

        var onAppReady = function () {
            var errorMessage = "${errorMessage}";
            if (errorMessage) {
                docEditor.showMessage(errorMessage);
            }
            if (${demo}) {
                docEditor.showMessage("$i18n.getText('onlyoffice.configuration.demo.message')");
            }
        };

        var onRequestHistory = function () {
            var historyInfoUri = "${historyInfoUriAsHtml}";
            var xhr = new XMLHttpRequest();
            xhr.open("GET", historyInfoUri, false);
            xhr.send();

            if (xhr.status == 200) {
                var historyInfo = JSON.parse(xhr.responseText);
                docEditor.refreshHistory(historyInfo);
            }
        };

        var onRequestHistoryData = function (event) {
            var version = event.data;
            var historyDataUri = "${historyDataUriAsHtml}";
            var xhr = new XMLHttpRequest();
            xhr.open("GET", historyDataUri + "&version=" + version, false);
            xhr.send();

            if (xhr.status == 200) {
                var historyData = JSON.parse(xhr.responseText);
                docEditor.setHistoryData(historyData);
            }
        };

        var onRequestHistoryClose = function() {
            document.location.reload();
        };

        var onRequestInsertImage = function(event) {
            AJS.Editor.ImageDialog.insertImageDialog(function(a) {
                if (a.url) {
                    docEditor.insertImage({
                        "c": event.data.c,
                        "url": a.url
                    });
                } else {
                    var selectItems = a.selectItems;
                    var attachments = new Array();
                    selectItems.forEach((selectItem) => {
                        attachments.push(selectItem.attributes.id);
                    });

                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "${fileProviderUriAsHtml}", false);
                    xhr.send(JSON.stringify({
                        command: event.data.c,
                        attachments: attachments
                    }));

                    if (xhr.status == 200) {
                        var dataInsertImages = JSON.parse(xhr.responseText);

                        dataInsertImages.forEach((dataInsertImage) => {
                            docEditor.insertImage(dataInsertImage);
                        });
                    }
                }
            });
        };

        var onRequestCompareFile = function(event) {
            AJS.Editor.ImageDialog.insertImageDialog(function(a) {
                var selectItems = a.selectItems;
                var attachments = new Array();
                selectItems.forEach((selectItem) => {
                    attachments.push(selectItem.attributes.id);
                });

                var xhr = new XMLHttpRequest();
                xhr.open("POST", "${fileProviderUriAsHtml}", false);
                xhr.send(JSON.stringify({
                    attachments: attachments
                }));

                if (xhr.status == 200) {
                    var dataCompareFiles = JSON.parse(xhr.responseText);

                    dataCompareFiles.forEach((dataCompareFile) => {
                        docEditor.setRevisedFile(dataCompareFile);
                    });
                }
            });
        };

        var onRequestMailMergeRecipients = function(event) {
            AJS.Editor.ImageDialog.insertImageDialog(function(a) {
                var selectItems = a.selectItems;
                var attachments = new Array();
                selectItems.forEach((selectItem) => {
                    attachments.push(selectItem.attributes.id);
                });

                var xhr = new XMLHttpRequest();
                xhr.open("POST", "${fileProviderUriAsHtml}", false);
                xhr.send(JSON.stringify({
                    attachments: attachments
                }));

                if (xhr.status == 200) {
                    var dataMailMergeRecipients = JSON.parse(xhr.responseText);

                    dataMailMergeRecipients.forEach((dataMailMerge) => {
                        docEditor.setMailMergeRecipients(dataMailMerge);
                    });
                }
            });
        };

        var onRequestSaveAs = function (event) {
            var title = event.data.title.substring(0, event.data.title.lastIndexOf("."));
            var ext = event.data.title.split(".").pop();
            var url = event.data.url;

            var showError = function (message) {
                $("#move-page-dialog").find("form.aui").after(
                    '<div id="move-errors" class="warning">' +
                        '<div class="aui-message aui-message-error error">' +
                            message +
                        '</div>' +
                    '</div>'
                );
            };

            var moveHandler = function () {
                $("#move-page-dialog").find("#move-errors").remove();
                $("#move-page-dialog").find(".error").remove();

                var title = $("#file-name-input").val();
                var pageNode = $("#move-page-dialog").find(".highlighted").parent().attr("id");
                var check = true;

                if (!title) {
                    $("#file-name-input").after(
                        '<div id="file-name-error" class="error">' +
                            '$i18n.getText('fileName.required')' +
                        '</div>'
                    );
                    errors = false;
                }
                if (!pageNode) {
                    $("#chosenSpaceKey").after(
                        '<div id="space-key-error" class="error">' +
                            '$i18n.getText('no.page.specified')' +
                        '</div>'
                    );
                    errors = false;
                }

                if (check) {
                    var pageId = pageNode.substring(5, pageNode.length);

                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "${saveAsUriAsHtml}", false);
                    xhr.send(JSON.stringify({
                        url: url,
                        title: title,
                        ext: ext,
                        pageId: pageId,
                    }));

                    if (xhr.status == 200) {
                        $("#move-page-dialog").remove();
                        $(".aui-blanket").remove();
                    } else if (xhr.status == 403) {
                        showError("$i18n.getText('operation.forbidden.message')");
                    } else {
                        showError("$i18n.getText('dialog.error.unknown.title')");
                    }
                }
            };

            var paramsDialog = {
                title: "$i18n.getText('onlyoffice.editor.dialog.save-as.title')",
                buttonName: "$i18n.getText('editor.save.page')",
                openedPanel: "$i18n.getText('move.page.dialog.browse.title')",
                moveHandler: moveHandler,
            };

            $("#move-page-dialog").remove();
            AJS.Confluence.MovePageDialog(paramsDialog);
            var dialog = $("#move-page-dialog");

            dialog.find(".tree").on("DOMNodeInserted", function() {
                if (dialog.find("form.aui").length != 0 && dialog.find("#file-name-input").length == 0) {
                    dialog.find("form.aui").prepend($(
                        '<div class="field-group">' +
                              '<label for="file-name-input">' +
                                    '$i18n.getText('file.name'):' +
                                    '<span class="aui-icon icon-required">required</span>' +
                              '</label>' +
                              '<input class="text" value="' + title + '" type="text" id="file-name-input" name="text-input">' +
                        '</div>'
                    ));
                }
                if (dialog.find(".root-node").length != 0 && !dialog.find(".root-node").hasClass("disabled")) {
                    dialog.find(".root-node").addClass("disabled");
                }
            });

            dialog.find(".item-button:not(#browse-panel-id)").parent().remove();
            dialog.find(".dialog-panel-body:not(.browse-panel)").remove();
            dialog.find("#reorderRequirement").hide();
        };

        var connectEditor = function () {
            if (typeof DocsAPI === "undefined") {
                alert("$i18n.getText('onlyoffice.connector.docs-api.undefined')");
                return;
            }

            var json = '${jsonAsHtml}';

            var config = {
                "events" : {
                    "onAppReady": onAppReady,
                    "onRequestHistory": onRequestHistory,
                    "onRequestHistoryData": onRequestHistoryData,
                    "onRequestHistoryClose": onRequestHistoryClose,
                    "onRequestInsertImage": onRequestInsertImage,
                    "onRequestCompareFile": onRequestCompareFile,
                    "onRequestMailMergeRecipients": onRequestMailMergeRecipients,
                    "onRequestSaveAs": onRequestSaveAs,
                },
            };

            if (json) {
                Object.assign(config, JSON.parse(json));
            }

            docEditor = new DocsAPI.DocEditor("iframeEditor", config);
        };

        if (window.addEventListener) {
            window.addEventListener("load", connectEditor);
        } else if (window.attachEvent) {
            window.attachEvent("load", connectEditor);
        }
    </script>
</body>

</html>